body
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: medium;
}
h2
{
    font-family: Arial;
    text-decoration: underline;
}
h1
{
    font-family: 'Courier New' , Courier, Monospace;
}

